{% extends "layout.html" %}
{% block body %}
    <div>
        {% for item in files_name %}
            <a href="/static/{{ item }}" download>
                <img src="/static/{{ item }}" alt="{{ item }}">
            </a>
        {% endfor %}
    </div>
{% endblock %}