{% extends "layout.html" %}
{% block body %}
    <div class="mt-xl-5" style="text-align: center">
        <img src="{{ url_for('static', filename='banner.jpg') }}" class="rounded mx-auto d-block" alt="...">
        <a href="/profile" class="btn btn-primary mt-xl-5">Get Started</a>
    </div>

{% endblock %}