{% extends "layout.html" %}
{% block body %}
    <form method=post enctype=multipart/form-data class="mt-5">
        <div class="form-group row">
            <label for="x" class="col-sm-2 col-form-label">X</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="x" name="x"required >
            </div>
        </div>
        <div class="form-group row">
            <label for="y" class="col-sm-2 col-form-label">Y</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="y" name="y"required >
            </div>
        </div>
        <div class="custom-file">
            <label class="custom-file-label" for="file">Choose file...</label>
            <input type="file" name="file" class="custom-file-input" id="file" required>
        </div>

            <button class="btn btn-primary btn-block mt-2" type="submit">upload</button>
    </form>
{% endblock %}