{% extends "layout.html" %}
{% block body %}
    <a href="/new" class="btn btn-success d-block mt-2 mb-2">new</a>
    {% for Images in Files %}
        <a href="/userFiles/{{ user_id }}/images{{ Images }}.zip" class="btn btn-dark d-block mt-2 mb-2">zip</a>
        <div class="row mt-3">
            {% for file in Files[Images] %}
                <div class="col-3  mb-5">
                    <a href="/userFiles/{{ user_id }}/{{ file.name }}" download>
                        <img src="/userFiles/{{ user_id }}/{{ file.name }}" style="width: 100%; object-fit: cover"
                             alt="...">
                    </a>
                <h5 class="mt-0">{{ file.name }}</h5>
                    это часть № {{ file.pair }}
                    <button class="btn btn-danger btn-block"  onclick="del('{{ file.name }}')">
                        delete <i class="fa fa-trash "></i></button>
                </div>
            {% endfor %}
        </div>

    {% endfor %}
{% endblock %}