{% extends 'layout.html' %}
{% block body %}
    <form action="/sign_in" method="post">
        <div class="form-group">
            <label for="inputAddress">First name</label>
            <input type="text" class="form-control" name="first_name" id="name1" placeholder="Alex">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Last name</label>
            <input type="text" class="form-control" name="last_name" id="name2" placeholder="Jackson">
        </div>
        <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" name="password" id="inputPassword4" placeholder="Password">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword5">Confirm password</label>
                <input type="password" class="form-control" name="password2" id="inputPassword4" placeholder="Password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
{% endblock %}